.container {
    text-align: center;
}

.logo {
    max-width: 350px;
    display: block;
    margin: 0 auto 20px;
}

.title {
    font-family: Azonix, sans-serif;
    font-size: 36px;
}

.subtitle {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #666;
}

.download-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #5b8b32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: auto;
    margin-right: 16px;
}

.download-button:hover {
    background-color: #3e5c20; 
}

/* Stil für den Kreis */
.circle {
    width: 100px;
    height: 100px;
    background-color: rgba(91, 139, 50, 0.5); /* Hintergrundfarbe und Transparenz */
    border-radius: 50%; /* Kreisrunde Form */
    position: absolute; /* Absolute Positionierung */
    top: 50%; /* Zentrierung vertikal */
    left: 50%; /* Zentrierung horizontal */
    transform: translate(-50%, -50%); /* Zentrierung mit 50% des Kreisdurchmessers */
    z-index: 1; /* Überlagerung über anderen Inhalt */
}
